nav{
    background-color: #000000;
    margin-bottom: 20px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li{
    flex-grow: 1;
}
nav ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 3px 6px;
    text-align: center;
}
nav ul li a.active{
    background-color: grey;
}