form p label{
    color: white;
    font-size: 18px;
    display: flex;
}
.formulario-contacto{
    margin: 0 auto;
    height: 700px;
}
.formulario-contacto form, .contactoAlternativo{
    margin-left: 200px;
}
.texto-contacto{
    color: white;
    font-size: 25px;
    margin: 0 auto;
    text-decoration: none;
}
.formulario-contacto form p textarea{
    resize: none;
    width: 250px;
    height: 120px;
}
.formulario-contacto form p input[type="submit"] {
    background-color: grey;
    color: white;
    width: 250px;
    font-size: 18px;
    cursor: pointer;
}
.formulario-contacto form p input[type="submit"]:hover {
    background-color: black;
}

.mediosDeContacto {
    color: white;
    font-size: 18px;
}

.contactoAlternativo {
    padding-top: 15px;
}

@media  screen and (max-width: 800px) {
    .formulario-contacto{
        margin-left: 50px;
    }
    .formulario-contacto form{
        margin: auto;
    }
}